body {
  height: 100vh;
}

.hidden {
  display: none;
}

/* header styling */
header {
  display: flex;
  width: 100vw;
  height: 150px;
  background-image: url('./louis-hansel-phEaeqe555M-unsplash.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.main-search {
  width: 40%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding-left: 30px;
  background-color: rgba(83, 82, 82, 0.342);
  color: #f7f3f3;
}

::placeholder {
  color: rgb(231, 229, 229);
}

/* header styling end */

/* Ingredient styling for both ingredientSection and myIngredients*/
.ingredients-section {
  width: 25%!important;
  height: 80vh;
  padding: 20px 0px 0px 0px;
  overflow: auto;
}

.ingredient-search {
  color: #f7f3f3;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(121, 120, 120);
  padding: 0px 20px;
  background-color: rgba(83, 82, 82, 0.342);
}

.ingredient {
  margin: 5px!important;
  padding: 5px 25px;
  border: none;
  background-color: rgb(190, 190, 190);
  border-radius: 50px!important;
}

.selected-ingredient {
  margin: 5px!important;
  padding: 5px 25px;
  border: none;
  background-color: rgb(188, 245, 207);
  border-radius: 50px!important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 208, 208); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2a2a; 
}

/* Handle on hover */
*:hover::-webkit-scrollbar {
  width: 5px;
}

/* ingredient styling end */




/* recipe section styling */
.recipe-section {
  width: 50%!important;
  padding: 10px;
  height: 80vh;
  overflow: auto;
}

.recipe-card {
  display: block;
  max-width: 100%;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  margin: 20px 30px;
}

.float-right {
  display: inline-block;
  text-align: center;
}

.recipe-thumbnail {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
}

.recipe-title {
  text-align: center;
}
/* recipe section styling end */


.my-ingredients{
  width:25%!important;
}



.create-recipe-form {
  position: absolute;
  margin: auto;
/* margin-right: auto; */
top: 0;
bottom: 0;
left: 0;
right: 0;
text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.527);
  border: 1px solid rgb(34, 34, 34);
  border-radius: 20px;
  max-width: 500px;
  max-height: 600px;
  padding: 50px;
}

#rname, #portions, #time {
  color: #f7f3f3;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(121, 120, 120);
  padding: 0px 20px;
  background-color: rgba(83, 82, 82, 0.342);
}

.page-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}